body{
   border: 6px  solid white;
|   border-width: 57px; 
   margin-left: 105px;

}
.whole{
    display: flex;
    width: 900px;
    height: 400px;
    /* border: 3px solid blueviolet; */
    /* padding: auto; */
    /* margin:auto; */
    /* align-items: center; */
     /* background-color: rgb(6, 5, 5); */
     /* display: block; */
    object-fit: cover;
}

.home{
    display: flex;
    /* justify-content: ; */
    /* object-fit: contain; */
    
}
.btn{
    width: 400px;
    height: 400px;
}
.text{
    display: block;
    margin-left: 15px;
    margin-bottom: auto;
}
.but{
   background-color: rgb(18, 41, 18);
   color: white;
   width: 200px;
   height: 40px;
   border-radius: 10px;
   margin-top: auto;
}
.no{
    font-size: 34px;
    color: rgb(43, 63, 43);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="whole"] {
        display: block;
      width: 100%;
      /* margin-top: 20px; */
    }
  }